#loginform{
    background-color: #cca;
    width:600px;
    border-radius:2px;
    font-family:Helvetica;
    font-size: 23px;
    border:none;

}

.formspan{

}

.title{
    font-family:Helvetica;
}


