{% from "macros.html" import iterform %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='upload.js') }}"></script>

{% extends "layout.html" %}
{% block body %}
  <table>
    <tr>
      <td class=options>
          <div class=search>
            <h2>Search</h2>
            <form method="GET" action="http://127.0.0.1:5000/photos/" id="photoform">
              {{ iterform(search_form) }}
            </form>
          </div>
      </td>
      <td class=photos id=photos>
      </td>
    </tr>
  </table>
{% endblock %}


