
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='button.css') }}">

{% macro iterform(form) %}
  {% for value in form %}
    <div class=formspan>
    <span class="field">{{ value.label }}:</span> <span class="input">{{ value() }}</span>
    </div>
  {% endfor %}
  {{ form.csrf_token }}
  <input  type="submit" value="Submit">
{% endmacro %}

{% macro show_photo(photo, show_tags) %}
  <div class=photo>
  <h2>A photo</h2>
  <img src="{{ photo.img_uri }}" class=photo_img>
  {% if show_tags %}
    <div class=tags>
    {% for tag in photo.tags %}
      {{ tag|safe }}, 
    {% else %}
      No tags.
    {% endfor %}
    </div>
  {% endif %}
  </div>
{% endmacro %}

{% macro show_photos(photos) %}
  {% for photo in photos %}
    <a href="{{ url_for('default.show_photo', photo_id = photo.id) }}">
    {{ show_photo(photo, False) }}
    </a>
  {% else %}
    No photos to see here.
  {% endfor %}
{% endmacro %}

{% macro show_viewers(viewers) %}
  {% for viewer in viewers %}
      {{ viewer.name }} | {{ viewer.password }}
      <br>
  {% else %}
    Your account has no viewers.
  {% endfor %}
{% endmacro %}

