<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='upload.css') }}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/css" src="{{ url_for('static', filename='upload.js') }}"></script>

  </head>
  
<body>

<!--<form id="uploadform" action="http://127.0.0.1:5000/photos/" method="POST" enctype="multipart/form-data"> -->
  <input id="imageInput" type="file" name="photo[]" accept="image/*" multiple>
  <input id="submitPhoto" type="submit" onClick="uploadPhoto()">NewSubmit </input>
<!-- </form> -->


</body>
</html>
